<% if user_signed_in? %>

    <p>You can use the following JWT to test:</p>

    <pre>curl -X GET --header 'Authorization: Bearer <%= JWTWrapper.encode({ user_id: current_user.id }) %>' '<%= api_users_url %>'</pre>
<% end %>
