<div class="page-header">
  <h1><%= @app.name %> App</h1>
</div>

<h2>Edit Role</h2>

<%= render 'form', role: @role, app_roles_path: [@role.app, @role] %>

<%= link_to 'Show', [@role.app, @role] %> |
<%= link_to 'Back', app_roles_path %>
